<%- include("partials/header"); -%>

<h1>Home</h1>
<p>Hello! This a very simple blog project, where I learned a lot.</p>

<% posts.forEach((post) => { %>
    <h1><%= post.title %></h1>
    <p><%= post.body.substring(0, 100) + "..." %> <a href="/posts/<%=post.title%>">Read More</a> </p>
<% }); %>

<%- include("partials/footer") -%>
